<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Squirrel Fam Map</title>
  <script src="https://kit.fontawesome.com/5f7c02001c.js" crossorigin="anonymous"></script>
  <style type="text/css">
    html,
    body,
    #app {
      width: 100vw;
      height: 100vh;
      margin: 0;
      overflow: hidden;
      font-family: Verdana, Arial, sans-serif;
    }

    body {
      background-color: #1b2430;
      color: #d6d5a8
    }

    .map {
      position: relative;
      width: 100vw;
      height: 100vh;
    }

    .loc {
      position: absolute;
      border: 1px solid #51557e;
      border-radius: .25em;
      text-align: center;
      padding: .5em;
      z-index: 10;
      background-color: #1b2430;
    }

    .coordinates {
      font-size: smaller;
      color: rgba(214, 213, 168, 0.5);
      margin-top: .2em;
    }

    .horizontal-path {
      position: absolute;
      border-top: 2px dashed #51557e;
    }

    .vertical-path {
      position: absolute;
      border-left: 2px dashed #51557e;
    }

    .mouse-up {
      cursor: grab;
    }

    .mouse-down {
      cursor: grabbing;
    }
  </style>
</head>

<body>
  <div id="app" v-cloak>

    <div v-if="isloaded" class="map" :class="grabClass" @wheel="onWheel" @mousedown="onMouseDown" @mouseup="onMouseUp"
      @mousemove="onMouseMove">
      <div v-for="location in locations" :key="location.name" class="loc" :style="locStyle(location)">
        <i :class="locationIcon(location.type)"></i>
        <span v-if="showDetails">&nbsp;{{location.name}}</span>
        <div v-if="showDetails" class="coordinates">{{coordinates(location)}}</div>
      </div>
      <div v-for="(horizontalPath, index) in horizontalPaths" :key="index" class="horizontal-path"
        :style="horizontalPathStyle(horizontalPath)">
        <div class="horizontal-path"></div>
      </div>
      <div v-for="(verticalPath, index) in verticalPaths" :key="index" class="vertical-path"
        :style="verticalPathStyle(verticalPath)">
        <div class="vertical-path"></div>
      </div>
    </div>

  </div>

  <script src="https://unpkg.com/vue@3"></script>

  <script>
    var locations = [{
      name: "Acacia",
      type: "home",
      nether: [-160, 59, -168]
    }, {
      name: "Jungle",
      type: "portal",
      nether: [-347, 62, -333]
    }, {
      name: "Sunflower",
      type: "portal",
      nether: [-360, 64, -656]
    }, {
      name: "Flower Mine",
      type: "portal",
      nether: [-611, 62, -339]
    }, {
      name: "Ice Spikes",
      type: "portal",
      nether: [-613, 73, 340]
    }, {
      name: "Casey's House",
      type: "home",
      nether: [38, 68, -39]
    }, {
      name: "Michelle's",
      type: "portal",
      nether: [-17, 60, -168]
    }, {
      name: "Dorginton",
      type: "portal",
      nether: [-299, 90, -234]
    }, {
      name: "Two Castles",
      type: "portal",
      nether: [-160, 59, 953]
    }, {
      name: "Mansion 1",
      type: "portal",
      nether: [1204, 59, 953]
    }];

    var paths = [
      // Acacia to Jungle
      [-160, -168, -160, -333, -347, -333],
      // Jungle to Sunflower
      [-347, -333, -347, -623, -360, -623, -360, -656],
      // Jungle to Flower Mine
      [-347, -337, -611, -337],
      // Flower Mine to Ice Spikes
      [-612, -339, -612, 340],
      // Casey to Michelle
      [38, -39, 38, -168, -17, -168],
      // Michelle to Acacia
      [-17, -168, -160, -168],
      // Acacia to Dorginton
      [-160, -168, -299, -168, -299, -234],
      // Acacia to Two Castles
      [-160, -168, -160, 953],
      // Two Castles to Mansion 1
      [-160, 953, 1204, 953]
    ];

    const { createApp } = Vue

    createApp({
      data() {
        return {
          isloaded: false,
          locations: locations,
          horizontalPaths: [],
          verticalPaths: [],

          mapX0: 0,
          mapY0: 0,
          mapWidth: 0,
          mapHeight: 0,

          windowWidth: window.innerWidth,
          windowHeight: window.innerHeight,
          zoom: 1,
          scale: 1,
          panX: 0,
          panY: 0,

          isMouseDown: false
        }
      },

      computed: {
        grabClass() {
          return this.isMouseDown ? "mouse-down" : "mouse-up"
        },
        showDetails() {
          return this.scale * this.zoom > 0.14;
        }
      },

      methods: {
        load() {
          this.setInitialMapValues();
          this.setNetherPaths();
          this.isloaded = true;
        },
        setInitialMapValues() {
          var x0 = this.locations[0].nether[0];
          var x1 = this.locations[0].nether[0];
          var y0 = this.locations[0].nether[2];
          var y1 = this.locations[0].nether[2];

          for (var i = 1; i < this.locations.length; i++) {
            var loc = locations[i];
            x0 = Math.min(x0, loc.nether[0]);
            x1 = Math.max(x1, loc.nether[0]);
            y0 = Math.min(y0, loc.nether[2]);
            y1 = Math.max(y1, loc.nether[2]);
          }

          x0 *= 8;
          x1 *= 8;
          y0 *= 8;
          y1 *= 8;

          var width = x1 - x0;
          var height = y1 - y0;

          var pad = width * .15;
          width += pad * 2;
          x0 -= pad;

          pad = height * .15;
          height += pad * 2;
          y0 -= pad;

          // Center the map
          var widthScale = this.windowWidth / width;
          var heightScale = this.windowHeight / height;

          if (heightScale > widthScale) {
            pad = (this.windowHeight / widthScale - height) / 2;
            height += pad * 2;
            y0 -= pad;
          } else {
            pad = (this.windowWidth / heightScale - width) / 2;
            width += pad * 2;
            x0 -= pad;
          }

          this.mapX0 = x0;
          this.mapY0 = y0;
          this.mapWidth = width;
          this.mapHeight = height;
          this.scale = Math.min(this.windowWidth / this.mapWidth, this.windowHeight / this.mapHeight);
        },
        setNetherPaths() {
          paths.forEach(p => {
            for (var i = 2; i < p.length; i += 2) {
              var x0 = p[i - 2] * 8;
              var y0 = p[i - 1] * 8;
              var x1 = p[i] * 8;
              var y1 = p[i + 1] * 8;

              if (x0 === x1) {
                this.verticalPaths.push({
                  x: x0,
                  y: Math.min(y0, y1),
                  length: Math.abs(y1 - y0)
                });
              } else {
                this.horizontalPaths.push({
                  y: y0,
                  x: Math.min(x0, x1),
                  length: Math.abs(x1 - x0)
                });
              }
            }
          }, this);

        },
        locStyle(location) {
          var left = this.toScale(location.nether[0] * 8, this.mapX0, this.panX);
          var top = this.toScale(location.nether[2] * 8, this.mapY0, this.panY);

          return {
            left: `${left - 25}px`,
            top: `${top - 25}px`
          };
        },
        horizontalPathStyle(path) {
          return {
            left: `${this.toScale(path.x, this.mapX0, this.panX)}px`,
            top: `${this.toScale(path.y, this.mapY0, this.panY)}px`,
            width: `${path.length * this.scale * this.zoom}px`
          }
        },
        verticalPathStyle(path) {
          return {
            left: `${this.toScale(path.x, this.mapX0, this.panX)}px`,
            top: `${this.toScale(path.y, this.mapY0, this.panY)}px`,
            height: `${path.length * this.scale * this.zoom}px`
          }
        },
        toScale(raw, map0, pan) {
          return (raw - map0) * this.scale * this.zoom + pan;
        },
        locationIcon(type) {
          return type === "home" ? "fa-solid fa-house"
            : type === "portal" ? "fa-solid fa-dungeon"
              : "fa-solid fa-location-pin";
        },
        coordinates(location) {
          return `(${location.nether[0] * 8},, ${location.nether[2] * 8})`;
        },

        onWheel(e) {
          var factor = e.deltaY > 22 ? 1 / 1.1 : e.deltaY < -22 ? 1.1 : 1;
          if (factor === 1) return;

          // We want the center not to move.
          // Calculate the map point that is in the center now.
          var centerX = (this.windowWidth / 2 - this.panX) / this.scale / this.zoom + this.mapX0;
          var centerY = (this.windowHeight / 2 - this.panY) / this.scale / this.zoom + this.mapY0;

          this.zoom = this.zoom * factor;
          //console.log("scale * zoom", this.scale * this.zoom);

          // Change the Pan so the center point is back in the center
          this.panX = this.windowWidth / 2 - this.toScale(centerX, this.mapX0, 0);
          this.panY = this.windowHeight / 2 - this.toScale(centerY, this.mapY0, 0);
        },
        onMouseDown(e) {
          this.isMouseDown = true;
        },
        onMouseUp(e) {
          this.isMouseDown = false;
        },
        onMouseMove(e) {
          if (!this.isMouseDown) return true;

          this.panX = this.panX + e.movementX;
          this.panY = this.panY + e.movementY;
        }
      },

      mounted() {
        this.load();
      }
    }).mount('#app')
  </script>
</body>

</html>
